#Aliases

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# Directory Aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -alF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Git Aliases
alias gs='git status'
alias gaa='git add .'
alias gc='git commit'
alias gca='git add . && git commit'
alias gl="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias gl2="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all"

# Docker Aliases
alias dsi_env="docker service inspect --format '{{range .Spec.TaskTemplate.ContainerSpec.Env}}{{println .}}{{end}}'"

# SSH Aliases
alias id1="ssh -A stc81dockxv001.marconet.com"
alias id2="ssh -A stc81dockxv002.marconet.com"
alias id3="ssh -A stc81dockxv003.marconet.com"
alias id4="ssh -A stc81dockxv004.marconet.com"
alias idev1="ssh -A dev98dockxv001.marconet.com"
alias idev2="ssh -A dev98dockxv002.marconet.com"
alias ed1="ssh -A stc59dockxv001.marconet.com"
alias ed2="ssh -A stc59dockxv002.marconet.com"
alias ed3="ssh -A stc59dockxv003.marconet.com"
alias edev1="ssh -A dev59dockxv001.marconet.com"
alias util1="ssh -A stc81utilxv001.marconet.com"
alias mgmt1="ssh -A stc81mgmtxv001.marconet.com"
alias mgmt2="ssh -A stc81mgmtxv002.marconet.com"
alias mgmt3="ssh -A stc81mgmtxv003.marconet.com"

# System defaults

# Default format for df, du, free, and ps
alias df="df -Tha --total"
alias du="du -ach | sort -h"
alias free="free -mt"

# Show my public IP
alias myip="curl http://ipecho.net/plain; echo"

# Application-specific aliases
alias dcm="docker-compose"
if code-insiders -v >/dev/null 2>&1; then
    alias c="code-insiders";
elif code -v >/dev/null 2>&1; then
    alias c="code";
fi

# Salt Encryption
install_salt_key() {
    sudo apt-get update && sudo apt-get install -y gpg
    gpg --import $HOME/salt-public-key.gpg
    rm $HOME/salt-public-key.gpg
}
salt_encrypt() {
    echo -n "$@" | gpg --armor --batch --trust-model always --encrypt -r devops
}

# Things that are different between Linux and Mac
if [ "$(uname)" == "Darwin" ]; then
    alias ps="/bin/ps -ef"

    # grep for process info
    alias psg="/bin/ps -ef | grep -v grep | grep -i -e VSZ -e"
elif [ "$(expr substr $(uname -s) 1 5)" == "Linux" ]; then
    alias ps="ps auxf"

    # grep for process info
    alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"
fi

# function Extract for common file formats
function extract {
    if [ -z "$1" ]; then
        # display usage if no parameters given
        echo "Usage: extract <path/file_name>.<zip|rar|bz2|gz|tar|tbz2|tgz|Z|7z|xz|ex|tar.bz2|tar.gz|tar.xz>"
        echo "       extract <path/file_name_1.ext> [path/file_name_2.ext] [path/file_name_3.ext]"
    else
        for n in $@
        do
          if [ -f "$n" ] ; then
              case "${n%,}" in
                *.tar.bz2|*.tar.gz|*.tar.xz|*.tbz2|*.tgz|*.txz|*.tar) 
                             tar xvf "$n"       ;;
                *.lzma)      unlzma ./"$n"      ;;
                *.bz2)       bunzip2 ./"$n"     ;;
                *.rar)       unrar x -ad ./"$n" ;;
                *.gz)        gunzip ./"$n"      ;;
                *.zip)       unzip ./"$n"       ;;
                *.z)         uncompress ./"$n"  ;;
                *.7z|*.arj|*.cab|*.chm|*.deb|*.dmg|*.iso|*.lzh|*.msi|*.rpm|*.udf|*.wim|*.xar)
                             7z x ./"$n"        ;;
                *.xz)        unxz ./"$n"        ;;
                *.exe)       cabextract ./"$n"  ;;
                *)
                             echo "extract: '$n' - unknown archive method"
                             return 1
                             ;;
              esac
          else
              echo "'$n' - file does not exist"
              return 1
          fi
        done
    fi
}

