#!/usr/bin/env bash

tmux_iflist()
{
    if [ "$(which ip)" != "" ]; then
        # Use the `ip addr` command
        DEV=$(ip addr | awk '/state UP/ {print $2}' | sed 's/:$//' | grep -v -e '^br-' -e '^veth' -e '^docker');
        INT='';
        for i in $DEV; do
            IP=$(ip addr show dev $i | grep -e 'inet[^6]' | awk '{print $2}');
            INT="${INT}$i:$IP | ";
        done;
    elif [ "$(which ifconfig)" != "" ]; then
        # Use the older `ifconfig` command
        DEV=$(ifconfig | grep '^[a-z]' | grep -v '^lo' | awk -F ':' '{print $1}');
        INT='';
        for i in $DEV; do
            IP=$(ifconfig $i | grep -e 'inet[^6]' | awk '{print $2}');
            if [ "${IP}" != "" ]; then
                INT="${INT}$i:$IP | ";
            fi
        done;
    fi

    echo "${INT%???}";
}
export -f tmux_iflist


watch_app()
{
    APP=$1
    if [ -z $APP ]; then
        echo "watch_app <app_name>"
        echo ""
        echo "Example:"
        echo "sh> watch_app mosaic"
        echo ""
        return
    fi

    CMD=""
    for id in $(docker service ls -f name=$APP -q); do
        CMD="${CMD} docker service ps $id && echo '' && "
    done
    watch "$CMD echo ''"
}

"$@"
